.table {
    width: 600px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-collapse: collapse;
}
.head {
    background-color: rgb(54, 50, 50);
    color: white;
    font-size: 20px;
    height: 40px;
    /* padding: 5px;
    padding-bottom: 5px; */
}
.type {
    text-transform: capitalize;
    font-size: 20px;
    height: 40px;
}
.amount {
    font-size: 20px;
        height: 40px;
}
.currency {
    font-size: 20px;
        height: 40px;
}
.head th {
    border: 1px solid black;
}
 .table td {
     border: 1px solid black;

 }
tr:nth-child(even) {
    background-color: #e0e0e0;
}